params.enable_conda = false
params.singularity_dir = "$PWD/singularity-images"
params.vep_config = "vep.ini"
params.ped = ""

profiles {
  standard {
    process.executor = 'local'
    process.memory = '4GB'
    process.cpus = 4
    singularity {
      enabled = true
      autoMounts = true
    }
  }

  lsf {
    process.executor = 'lsf'
    process.memory = '4GB'
    process.cpus = 4
    process.clusterOptions = '-R "select[mem>5000] rusage[mem=5000]" -M5000'
    singularity {
      enabled = true
      autoMounts = true
    }
  }

  slurm {
    process.executor = 'slurm'
    process.memory = '4GB' 
    process.cpus = 4
    process.time = '1h'
    process.clusterOptions = '--account=ddp195 --partition=ind-shared --nodes=1 --ntasks=1 --cpus-per-task=2 --mem=4G'
    singularity {
      enabled = true
      autoMounts = true
      runOptions = "--bind /expanse/projects/sebat1/vep_cache"
    }
  }  
}

process {
   withName: "BCFTOOLS_VIEW_DROP_GENOTYPES" {
       ext.args = "-G"
       cpus = 4
       publishDir {
           path = "/expanse/lustre/scratch/j3guevar/temp_project/nf_output_dir/vcf_output"
           mode = "copy"
       }
   }
   withName: "TABIX" {
       cpus = 4
       publishDir {
           path = "/expanse/lustre/scratch/j3guevar/temp_project/nf_output_dir/vcf_output"
           mode = "copy"
       }
   }
   withName: "PLINK2_VCF" {
       ext.args = "--vcf-half-call missing --output-chr chrM --psam ${params.ped}"
       cpus = 4
   }
   withName: "VEP" {
       cpus = 4
       publishDir {
           path = "/expanse/lustre/scratch/j3guevar/temp_project/nf_output_dir/vep_output"
           mode = "copy"
       }
   }
}
