params.cpus = 1
params.enable_conda = false
params.help = false

profiles {
  standard {
    process.executor = 'local'
    process.memory = '4GB'
    process.cpus = 4
    singularity {
      enabled = true
      autoMounts = true
    }
  }

  lsf {
    process.executor = 'lsf'
    process.memory = '4GB'
    process.cpus = 4
    process.clusterOptions = '-R "select[mem>5000] rusage[mem=5000]" -M5000'
    singularity {
      enabled = true
      autoMounts = true
    }
  }

  slurm {
    process.executor = 'slurm'
    process.memory = '4GB' 
    process.cpus = 4
    process.time = '8h'
    process.clusterOptions = '--account=ddp195 --partition=ind-shared --nodes=1 --ntasks=1 --cpus-per-task=4 --mem=24G'
    singularity {
      enabled = true
      autoMounts = true
      runOptions = "--bind /expanse/projects/sebat1/vep_cache"
    }
  }  
}

process {
   withLabel: process_single {
       cpus = 1 
   }
   withLabel: process_low {
       cpus = 2
   }
   withLabel: process_medium {
       cpus = 8 
   }

   withName: "BCFTOOLS_VIEW_DROP_GENOTYPES" {
       ext.args = "-G"
       publishDir {
           path = "/expanse/lustre/scratch/j3guevar/temp_project/nf_output_dir/vcf_output"
           mode = "copy"
       }
   }
   withName: "TABIX" {
       publishDir {
           path = "/expanse/lustre/scratch/j3guevar/temp_project/nf_output_dir/vcf_output"
           mode = "copy"
       }
   }
   withName: "VEP" {
       publishDir {
           path = "/expanse/lustre/scratch/j3guevar/temp_project/nf_output_dir/vep_output"
           mode = "copy"
       }
   }
   withName: "PLINK2_VCF" {
       ext.args  = "--vcf-half-call missing --output-chr chrM"
       ext.args += { ( "${meta.ped}" ) ? " --psam ${meta.ped}" : "" }
   }
}

dag { enabled = true }
report { enabled = true }
timeline { enabled = true }
trace { enabled = true }
