params.cpus = 1
params.enable_conda = false
params.help = false

profiles {
  standard {
    process.executor = 'local'
    process.memory = '4GB'
    process.cpus = 4
    singularity {
      enabled = true
      autoMounts = true
    }
  }

  lsf {
    process.executor = 'lsf'
    process.memory = '4GB'
    process.cpus = 4
    process.clusterOptions = '-R "select[mem>5000] rusage[mem=5000]" -M5000'
    singularity {
      enabled = true
      autoMounts = true
    }
  }

  slurm {
    process.executor = 'slurm'
    process.memory = '4GB' 
    process.cpus = 4
    process.time = '8h'
    process.clusterOptions = '--account=ddp195 --partition=ind-shared --nodes=1 --ntasks=1'
    singularity {
      enabled = true
      autoMounts = true
      runOptions = "--bind /expanse/projects/sebat1/vep_cache"
    }
  }  
}

env.PERL5LIB="\$PERL5LIB:/expanse/projects/sebat1/vep_resources/UTRannotator"

process {
   withLabel: process_single {
       cpus = 1
   }
   withLabel: process_low {
       cpus = 2
   }
   withLabel: process_medium {
       cpus = 4
   }

   withName: "BCFTOOLS_VIEW_DROP_GENOTYPES" {
       ext.args = "-G"
       publishDir {
           path = "/expanse/projects/sebat1/sfari_nf_pipeline/output/SFARI/iWGS_v1_variants/deepvariant/"
           mode = "copy"
       }
   }
   withName: "TABIX" {
       publishDir {
           path = "output_folder/drop_gt"
           mode = "copy"
       }
   }
   withName: "VEP" {
       publishDir {
           path = "output_folder/vep"
           mode = "copy"
       }
       ext.args   = " --plugin EVE,file=/expanse/projects/sebat1/vep_resources/EVE/merged/eve_merged.vcf.gz "
       ext.args  += " --plugin PrimateAI,/expanse/projects/sebat1/vep_resources/PrimateAI/PrimateAI_scores_v0.2_GRCh38_sorted.tsv.bgz "
       ext.args  += " --plugin SpliceAI,snv=/expanse/projects/sebat1/vep_resources/SpliceAI/spliceai_scores.raw.snv.hg38.vcf.gz,indel=/expanse/projects/sebat1/vep_resources/SpliceAI/spliceai_scores.raw.indel.hg38.vcf.gz,cutoff=0.5 "
       ext.args  += " --plugin UTRannotator,/expanse/projects/sebat1/vep_resources/UTRannotator/uORF_5UTR_GRCh38_PUBLIC.txt "
   }
   withName: "PLINK2_VCF" {
       ext.args  = "--vcf-half-call missing --output-chr chrM"
       ext.args += { ( "${meta.ped}" ) ? " --psam ${meta.ped}" : "" }
   }
}

dag { enabled = true }
report { enabled = true }
timeline { enabled = true }
trace { enabled = true }
